.App {
  width: 100%;
  height: 100vh;
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right,
      rgba(252, 203, 144, 1),
      rgba(213, 126, 235, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right,
      rgba(252, 203, 144, 1),
      rgba(213, 126, 235, 1));
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}

.joinChatContainer {
    
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}


.joinChatContainer button {
  width: 210px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #3f2e7d;
}

.main{
  width: 100%;
  height: 100%;
}





.gradient-custom {
  /* fallback for old browsers */
  background: #fccb90;
  min-width: 100%;
  margin: auto;
  min-height: 100%;
    overflow-y: auto;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to bottom right,
    rgba(252, 203, 144, 1),
    rgba(213, 126, 235, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom right,
    rgba(252, 203, 144, 1),
    rgba(213, 126, 235, 1)
  );
}

.text-white{
  max-width: 955px;
   margin: auto;
   height: 65vh;
}

.mask-custom {
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.footer{
  max-width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#textAreaExample{
  width: 100%;
}

.float-end{
  margin-right: 100%;
  padding-left: 65%;
}

.button{
  justify-content: flex-end;
}
